.product-info {
  display: flex;
  gap: 50px;
  padding: 40px;
  background: #fff;
}

.info-img {
  width: 420px;
}

.main-img {
  width: 100%;
  border-radius: 12px;
}

.image-list {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.image-list img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
}

.image-list img.active {
  border-color: #0a7cff;
}

.info-details {
  max-width: 520px;
}

.desc {
  margin: 15px 0;
  color: #555;
  line-height: 1.6;
}

.price {
  color: #27ae60;
}

.availability .in {
  color: green;
  font-weight: bold;
}

.availability .out {
  color: red;
  font-weight: bold;
}

.extra-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 25px 0;
}

.extra-info h4 {
  margin-bottom: 8px;
}

/* BUTTON */
.cart-btn {
  padding: 14px 24px;
  background: #0a7cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cart-btn:hover {
  background: #0056cc;
}

.back-link {
  color: rgb(238, 93, 49);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.quantity-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.qty-label {
  font-weight: 600;
  font-size: 16px;
}

.qty-controls {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.qty-btn {
  width: 35px;
  height: 35px;
  border: none;
  background-color: #f2f2f2;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.qty-btn:hover {
  background-color: #ddd;
}

.qty-value {
  width: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .product-info {
    flex-direction: column;
  }

  .info-img {
    width: 100%;
  }
}
